#app2 #table-bar {
  display: flex;
}
#app2 #table-bar > li {
  width: 50%;
  border: 3px solid black;
}
#app2 #table-content > li {
  display: none;
}
#app2 #table-content > li.active {
  display: block;
}
#app2 #table-bar > li.selected {
  background-color: grey;
  color: white;
}
